body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Sticky navigation bar */
.navbar {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
}

/* Links inside the navigation bar */
.navbar a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 1.2rem;
}

/* Change color on hover */
.navbar a:hover {
    color: goldenrod;
}

.navbar a.active {
    display: block;
}

/* Title */
.title {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

/* Burger menu */
.burger-menu {
    display: none;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.burger-menu span {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px;
    display: block;
}

.burger-menu-content {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    width: 300px;
    background-color: #ffffff;
    box-shadow: -2px 0px 10px 0px rgba(0, 0, 0, 0.1);
    z-index: 90;
    transition: all 0.3s ease-out;
}

.burger-menu-content a {
    display: block;
    padding: 20px;
    font-size: 18px;
    font-weight: 500;
    color: #333;
    text-decoration: none;
}

.burger-menu-content a:hover {
    background-color: #f0f0f0;
}

.burger-menu-open .burger-menu-content {
    right: 0;
}

.close-button {
    background-color: transparent;
    border: none;
    outline: none;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;

}

.close-button span {
    display: block;
    height: 2px;
    width: 20px;
    background-color: #000;
    position: relative;
}

.close-button span::before,
.close-button span::after {
    content: "";
    display: block;
    height: 2px;
    width: 20px;
    background-color: #000;
    position: absolute;
    top: -10px;
}

.close-button span::before {
    transform: rotate(45deg);
}

.close-button span::after {
    transform: rotate(-45deg);
}


/* Full-size image section */
#full-size-section {
    width: 100%;
    height: 0;
    padding-bottom: 66.67%;
    background-image: url('assets/main.jpg');
    background-size: cover;
    background-position: center;
}

/* About section */
#about-section h1 {
    color: red;
}

/* Media section */
#media-section h1 {
    color: red;
}

/* Calendar section */
#calendar-section h1 {
    color: red;
}

/* contact section */
#contact-section h1 {
    color: red;
}


/* Footer */
.footer {
    padding: 20px;
    text-align: center;
}

.footer a {
    margin: 20px;
    font-size: 18px;
    color: black;
    text-decoration: none;
}

.footer div:nth-child(2) {
    margin-top: 40px;
}

/* Social media icons */
.social-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
}

/* Media queries */
@media only screen and (min-width: 390px) {
    .title {
        font-size: 2rem;
    }

    .navbar a {
        font-size: 1.5rem;
    }
}

@media only screen and (min-width: 768px) {
    .title {
        font-size: 2.5rem;
    }

    .navbar a {
        font-size: 1.8rem;
    }

    .burger-menu {
        display: block;
    }
}

@media only screen and (max-width: 1024px) {

    /* Show the burger menu on devices with a screen width smaller than 1024px */
    .burger-menu {
        display: block;
    }

    .title {
        font-size: 3rem;
    }

    /* Hide the links on devices with a screen width smaller than 1024px */
    .navbar a {
        display: none;
        font-size: 2rem;
    }
}

@media only screen and (min-width: 1024px) {
    .burger-menu {
        visibility: hidden;
    }
}